@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 20px;
}
p {
    margin: 20px;
}
h1 {
    margin 20px;
}
a {
    text-decoration: none;
    margin:30%;
    font-family: 'Space Grotesk', sans-serif;
    color:black;
    font-size: 30px;
}
img {
    width: 100%;
    }
.collections-img { 
    width: 100%;
}
.journal-site-link {
    margin: 0 px;
}
