.container {
    display: grid; 
    grid-template-columns: 0.9fr 1.6fr 0.5fr; 
    grid-template-rows: 0.1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.1fr; 
    gap: 0px 0px; 
    boder-color: black;
    
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."; 
    height: 2000px; 
  }