body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 20px;
    color:#CB364D;
}

p {
    margin: 20px;
}

h1 {
    margin: 20px;
}

img {
    width: 100%;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}
header a {
    z-index: 99;
}

.navtext {
   width: 100px; 
}




<!--homepage-->

.mainRunner {
    border: 1px solid #000;
  }

  .hearts { 
    position: absolute;
    width: 1304px;
    height: 70px;
    left: 68px;
    top: 40px;
    z-index: 1;
}

.grouphome {
    position: absolute;
    width: 1296.94px;
    height: 1210px;
    left: 38px;
    top: -167px;
    z-index: 3;
}

  
  .newvenus {
    position: absolute;
    width: 864px;
    height: 1138px;
    left: -39.09px;
    top: -110px;
    z-index: 2;
  }


  .hone { 
    position: absolute;
    width: 30%;
    left: 906px;
    top: 444.25px;
    z-index: 3;
}

.htwo { 
    width: 30%;
    position: absolute;
    left: 926px;
    top: 560.25px;
    z-index: 3;  
}
.hthree { 
    width: 30%;
    position: absolute;
    left: 886px;
    top: 700.25px;
    z-index: 3;  
}

.hfour { 
    width: 30%;
    position: absolute;
    left: 926px;
    top: 841.25px;
    z-index: 3;
}

  
  <!--aboutpage-->

  .mainRunner {
    border: 1px solid rgb(142, 41, 41);
  }

  .venus-script-about { 
    position: absolute;
    width: 720px;
    height: 2525px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

  .roman {
    width: 35%;
    z-index: 1;     
    position: absolute;
    left: 92px;
    top: 580.97px;
  }
  
  .goddess {
    width: 35%;
    z-index: 1;     
    position: absolute;
    left: 149px;
    top: 696.12px;
  }


  .of { 
    width: 12%;
    z-index: 1;     
    position: absolute;
    left: 280px;
    top: 800px;
}

.head { 
    width: 15%;
    position: absolute;
    transform: rotate(3deg);
    z-index: 2;
    top: 200px;
    left: 55%;  
}

.column { 
    width: 14%;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 75%;  
}


.hearts-3-1 { 
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 1000px;
    left: 40px;
}
.heart-content {
    width:40%;
    position:absolute;
    top:1100px;
    left:40px;
}

  .love {
    width: 35%;
    z-index: 1;     
    position: absolute;
    left: 55%;
    top: 1100px;
  }
  
  .maternity {
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 1300px;
    left: 55%;
    transform: rotate(1deg);
  }


  .desire { 
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 1450px;
    left: 55%;
    transform: rotate(-1deg);
}

.feminity { 
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 1600px;
    left: 55%;
    transform: rotate(2deg);  
}
.sex { 
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 1750px;
    left: 55%;
    transform: rotate(3deg);  
}

.hearts-3-2 { 
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 2000px;
    left: 40px;
}


<!--lovers-->

.loversheader {
    position: absolute;
    width: 348px;
    height: 93px;
    left: 882.65px;
    top: 253.38px;
}

.mansone {
    position: absolute;
    width: 384px;
    height: 4908px;
    left: 212.51px;
    top: -75px;
}

.adonis {
    position: absolute;
    width: 260px;
    height: 120px;
    left: 481.42px;
    top: 604px;
}

.manstwo {
    position: absolute;
width: 408px;
height: 838px;
left: 830px;
top: 1353px;
}

.mercury {
    position: absolute;
    width: 338px;
    height: 120px;
    left: 621px;
    top: 1399.73px;
}

.mansthree {
    position: absolute;
    width: 530px;
    height: 796px;
    left: 109.89px;
    top: 2524.14px;
}

.mars {
    position: absolute;
width: 206px;
height: 120px;
left: 67.51px;
top: 2611.48px;
}

.mansfour {
    position: absolute;
    width: 300px;
    height: 478px;
    left: 938px;
    top: 3889px;
}

.anchisis {
    position: absolute;
    width: 326px;
    height: 120px;
    left: 599px;
    top: 3934.07px;
}

.heartone {
    position: absolute;
    width: 132px;
    height: 100px;
    left: 286px;
    top: 406px;
}

.hearttwo {
    position: absolute;
    width: 74px;
    height: 56px;
    left: 1023px;
    top: 1271.25px;
}

.heartthree {
    position: absolute;
    width: 74px;
    height: 56px;
    left: 315.51px;
    top: 2495px;
}

.heartfour {
    position: absolute;
    width: 132px;
    height: 100px;
    left: 994px;
    top: 3756px;
}


<!--artworkpage-->


.artworkheader {
    position: absolute;
    left: 107.4px;
    top: 257px;
    z-index: 1;
}

.marsvenus {
    position: absolute;
    width: 548px;
    height: 3674px;
    left: 694px;
    top: -31px;
}

.marshover {
    position: absolute;
    width: 552px;
    height: 224px;
    left: 694px;
    top: 630px;
    display: none;
}

.statue {
    position: absolute;
    width: 349px;
    height: 896px;
    left: 806px;
    top: 1049px;
    z-index: 2;
}

.baird {
    position: absolute;
    width: 548px;
    height: 410px;
    left: 720px;
    top: 2175px;
}

.bairdhover {
    position: absolute;
    width: 548px;
    height: 410px;
    left: 720px;
    top: 2175px;
    display: none;
}

.heartsartwork {
    position: absolute;
    left: 68px;
    top: 1191px;
    z-index: 1;
}

.birthof {
    position: absolute;
    width: 548px;
    height: 428px;
    left: 720px;
    top: 2815px;
}

.birthofhover {
    position: absolute;
    width: 548px;
    height: 428px;
    left: 720px;
    top: 2815px;
    display: none;

}

<!--mythspage-->

.mythsheader {
    position: absolute;
    width: 330px;
    height: 93px;
    left: 112.4px;
    top: 262px;
    }

.headless {
    position: absolute;
    width: 488px;
    height: 906px;
    left: 142px;
    top: 521px;
}

.cupid {
    position: absolute;
    width: 469.02px;
    height: 1525px;
    left: 821px;
    top: 1794px;
}

.heartsmyths {
    position: absolute;
    left: 68px;
    top: 384px;
}
